h1 {
  color: rgb(139, 0, 0);
  font-size: 16px;
  font-family: "Comic Sans MS", Arial;
}

a {
  display: inline-block;
}

a img {
  display: block;
  margin: 20px auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #1E90FF;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  transition: transform 0.3s ease;
}

a img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
h5 {
  color: #1E90FF;
  font-size: 14px;
  font-family: Times New Roman;
}
body {
  background-color: #000000; 
  color: #ffffff; 
}
.video-esquina {
  position: fixed;
  Bottom: 20px;
  right: 20px;
  width: 300px;
  border: 2px solid #1E90FF;
  border radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.Sociales {
  position:fixed;
  Top: 20px;
  margin: 20px auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #1E90FF;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  transition: transform 0.3s ease;
  Right: 20px;
}
.Sociales:hover {
  transform: scale(1.1);
  cursor: pointer;
}